services:
  redis:
    image: redis:8.0.2-alpine
    container_name: evault-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    environment:
      - REDIS_REPLICATION_MODE=master

  postgres:
    image: postgres:17.5-alpine3.22
    container_name: evault-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=evault
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
