name: WebUI CI

on:
  push:
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["20.x", "22.x", "23.x", "24.x"]

    defaults:
      run:
        working-directory: ./webui

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Run format checker
        run: |
          npm run format:check || \
          (echo "Bad formatting, run 'npm run format:write'")

      - name: Run linter
        run: npm run lint

      - name: Run build
        run: npm run build
